@import "file/bootstrap-social.less";


@font-face {
    font-family: Strato;
    src: url(font/strato-unlinked.otf);
}

@font-face {
    font-family: Destain;
    src: url(font/destain.otf);
}
    
h1 {
    font-family: Strato;
    margin: 5%;
    color: #5a5b69;
    font-size: 2em;
}

.text-center {
    padding: 0;
}

.text-center li:first-child {
    border-left: none;
}

.text-center li{
border-left: solid 2px;
display: inline;
padding-left: 2.5%;
padding-right: 2.5%;
font-size: 1.5em;
}

a {
    color: #95adcf; 
}


a:visited, a:link {
    text-decoration: none;
    color: #5a5b69;
}

.me {
    display: block;
    margin: 0 auto;
    margin: 15% auto 5%;
}

a:hover {
color: #222b3b;
text-decoration: none;
}

.navbar-inverse {
    background-color: #5a5b69;
    color: #fff;
}

.navbar-brand {
    font-size: 1.5em;
    letter-spacing: 2px;
    font-family: Strato;
}

.navbar-transparent {
    opacity: 0.8;
    background-image: none;
    border-color: transparent;
}

footer {
    clear: both;
    color: grey;
    padding: 1%;
}

.title-top {
    padding-right: 10%;
}

.title-bottom {
    padding-left: 10%;
}

.title {
    font-family: Strato;
    font-size: 3em;
    color: #95adcf;
    text-align: center;
    display: block;
}


#about {
    margin-top: 10%;
    background-image: url(../image/capetown-top-mountain-front.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 10%;
    width: 100%;
}
    
.about-trio-title {
    font-weight: bold;
    font-size: 1.75em;
}

.about-trio-description {
    padding-left: 23.5%;
    font-size: 1.25em;
}

.trio {
    padding: 1%;
    color: #fff;
}

.row {
    margin: 5%;
}


.glyphicon {
    color: #fff;
    font-size: 1.2em;
    padding: 5%;
    margin: 3%;
    background-color: #fff;
    color: #95adcf;
    border-radius: 50%;
}

.social-media li {
    display: inline;
    float: left;
    margin: 1%;
}

.social-media {
    margin: 2% auto;
    display: table;
    padding: 0;
    width: 189px;
}

.btn-social {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0;
}

.btn-behance {
    background-color: #0a67ff;
    color: #fff;
}


.glyphicon-envelope {
    background-color: #fff;
    font-size: 2em;
    color: #95adcf;
    margin: 1%;
    padding: 0;
}


/*temp

.btn-linkedin {
    color: #007BB6;
}

.btn-twitter {
    color: #55ACEE;
}

.btn-instagram {
    color: #3F729B;
}

.btn-pinterest {
    color:#CB2027;
}

*/

@media only screen and (max-width: 500px) {
    #about {
        background-color: #95adcf;
        background-image: none;
    }
}

.img-description {
    bottom: 2%;
}