@font-face {
    font-family: Strato;
    src: url(font/strato-unlinked.otf);
}

h1 {
    font-family: Strato;
    margin: 5%;
    color: #5c749e;
}


h3 li:first-child {
    border-left: none;
}

h3 li{
border-left: solid 2px;
display: inline;
padding-left: 2.5%;
padding-right: 2.5%;
}

h3 {
margin: 5%;
}


img {
padding: 5%;
margin: 0 auto;
border-radius: 50%;
display: block;
filter: opacity(90%);
}

a {
color: #717074;    
}

a:hover {
color: #222b3b;
text-decoration: none;
}

    
